.container {
    min-height: 60vh;
    background: red;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.parent {
    background: black;
    color: white;
    height: 400px;
    width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: parentbox 5s 5;
}

.ball {
    background: radial-gradient(white, darkblue);
    width: 60px;
    height: 60px;
    border-radius: 50%;

    position: absolute;
    left: 120px;
    top: 20px;

    /* name takes the name from keyframe */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: circle 5s 5;
}

@keyframes circle {
    0% {
        background: radial-gradient(white, darkblue);
        left: 120px;
        top: 20px;
    }

    25% {
        background: radial-gradient(white, rgb(113, 0, 128));
        left: 660px;
        top: 20px;
    }

    50% {
        background: radial-gradient(white, rgb(113, 0, 128));
        left: 660px;
        top: 520px;
    }

    75% {
        background: radial-gradient(white, rgb(0, 128, 11));
        left: 120px;
        top: 520px;
    }

    100% {
        background: radial-gradient(white, darkblue);
        left: 120px;
        top: 20px;
    }
}

@keyframes parentbox {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

